<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Claude Code</title>
  </head>
  <body>
    <h1>Claude Code</h1>
    <img src="{{url_for('imgs', filename='claude.png')}}" width="250" />
    <p>Categoria: Produtividade</p>
    <p>
      Sobre: Ela funciona de forma que ajuda aos desenvolvedores escreverem seus
      códigos mais rapidamente, ja tendo acesso a toda estrutura do código,
      ficando mais facil as instruções e com menos chances de erro.
    </p>

    <p>Funcionalidades: Geração de Código, Geração de Software</p>
    <p>Lançada em Fevereiro de 2025 - Premium</p>

    <ul>
      <a href="/"><li>Voltar a Página Inicial</li></a>
    </ul>
  </body>
</html>
