<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini</title>
  </head>
  <body>
    <h1>Gemini</h1>
    <img src="{{url_for('imgs', filename='gemini.png')}}" width="250" />
    <p>Categoria: Geração de Textos</p>
    <p>
      Sobre: Muito utilizada para criação de textos, e para corrigir documentos,
      serve como um criador de documentos também.
    </p>
     <p>Funcionalidades: Flash, Pro2.3</p>
    <p>Lançada em Setembro de 2026 - Gratuito / Premium</p>


    <ul>
      <a href="/"><li>Voltar a Página Inicial</li></a>
    </ul>
  </body>
</html>
