<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPT</title>
  </head>
  <body>
    <h1>Chat GPT</h1>
    <img src="{{url_for('imgs', filename='gpt.png')}}" width="250" />
    <p>Categoria: Criador de Imagens</p>
    <p>
      Sobre: Essa IA serve para criar imagens dos mais diversos tipos, e pode
      ser utilizada também para redigir textos e corrigir documentos
    </p>
    <p>Funcionalidades: GPT-4, Geração de Imagens</p>
    <p>Lançada em Novembro de 2022 - Gratuito</p>


      <ul>
      <a href="/"><li>Voltar a Página Inicial</li></a>
    </ul>
  </body>
</html>
