<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entre em Contato</title>
  </head>
  <body>
    <h1>Fale Conosco</h1>
    <p>
      Ficou interessado em nossos serviços? Preencha o formulário abaixo, e
      venha fazer seu orçamento conosco.
    </p>

    <form>
        <input type="text" placeholder="Digite Seu Nome"></input>
        <input type="email" placeholder="Digite Seu Email"></input>
        <textarea placeholder="Digite sua mensagem"></textarea>
        <button type="submit">Enviar</button>
    </form>

    <ul>
      <a href="/">
        <li>Voltar ao inicio.</li>
      </a>
    </ul>
  </body>
</html>
