<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem Vindo ao meu site</title>
  </head>
  <body>
    <h1>Página Inicial</h1>
    <p>
      Bem Vindos à DarkestCode, onde em meio a escuridão conseguimos tirar a
      luz. Sua empresa desenvolvedora dos códigos mais ocultos da humanidade!
    </p>

    <ul>
      <a href="/about">
        <li>Sobre Nós</li>
      </a>
      <a href="/contact">
        <li>Contato</li>
      </a>
    </ul>
  </body>
</html>
