<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Flask</title>
  </head>
  <body>
    <h1>Sobre o Flask</h1>
    <p>
      O Flask é um micro-framework em Python leve e flexível para criar sites e
      APIs. Ele fornece o essencial para aplicações web sem impor regras rígidas
      ou ferramentas extras, deixando você livre para escolher componentes
      adicionais.
    </p>
  </body>
</html>
